* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
}

/* 초기 레이아웃 잡기 */
.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  /* overflow: hidden; */
}

header {
  width: 275px;
  height: 100%;
  background-color: rgb(226, 226, 226);
  /* border: 1px solid black; */
}

/* 헤더 안에 있는 요소들 플렉스 주기 */
.header_flex {
  display: flex;
  flex-direction: column;
  /* padding-left: 15%; */
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

/* 로고 컨테이너 및 로고 */
.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.foundit {
  width: 100px;
}

/* 네비게이션 바 */
.gnb {
  width: 85%;
  height: 25%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav>a {
  width: 70%;
}

.gnb>.nav>a>div {
  width: 100%;
  height: 50px;
  display: flex;
  line-height: 25px;
  align-items: center;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.gnb>.nav>a>div>i {
  /* scale: 120%; */
  margin-left: 40px;
}

/* 클릭 시 백그라운드 파란색 위치잡기 */
.nav {
  /* margin-right: 50px; */
  display: flex;
  width: 120%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -53px;
}

/* 선택한 글자 말고 왼쪽에 작은 파란색 상자 보이게 하는거 */
.leftbar {
  width: 20%;
  height: 100%;
  background-color: blue;
  border-radius: 3px;
}

.font {
  margin-left: 30px;
}

.section-clicked {
  background-color: blue;
  color: white;
}

.section>.leftbar {
  display: none;
}

/* 여기서부터 컨텐츠 (오른쪽) */
.contents {
  width: calc(100% - 275px);
  height: 100vh;
  /* background-color: yellow; */
  padding: 50px;
}

/* 콘텐츠 레이아웃 잡기 */
.contents_layout {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.topline {
  width: 90%;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.search {
  height: 100%;
  width: 50%;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  /* padding-left: 15px; */
}

.search>i {
  scale: 150%;
  color: gray;
}

/* 검색 input */
#searchtogo {
  margin-left: 0px;
  border: none;
  padding: 10px;
  background-color: inherit;
  overflow: scroll;
  width: 80%;
  font-size: 20px;

}

/* 캘린더 날짜는 나중에 시간 되면 자바스크립트로 오늘 날짜 가져올 예정 */
.calendar {
  height: 100%;
  width: 25%;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding-left: 20px;
}

.calendar>a>i {
  color: gray;
  scale: 150%;
}

.info {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info>a>i {
  color: gray;
  scale: 150%;
}

.more {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}

.more>a>i {
  color: gray;
  scale: 150%;
}

.profilebox {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(226, 226, 226);
  /* border: 1px solid black; */
  align-items: center;
  display: flex;
  justify-content: center;
}

.profilebox>i {
  scale: 150%;
  color: gray;
}

.todaysdate {
  height: 80%;
  width: 70%;
  margin-left: 30px;
  /* border: 1px solid black; */
  line-height: 35px;
  font-size: 20px;
}

/* 여기서부터 분실물 파트 */
.lost_item_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 70%;
  overflow-y: scroll;
}

/* .lost-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: white;
  box-shadow: 0px 3px 3px 3px rgba(186, 184, 184, 0.543);
  border: solid 1px gray;
  border-radius: 20px;
  margin-bottom: 60px;
  border-collapse: collapse;

} */

.lostItems {
  background-color: rgba(217, 217, 217, 0.619);
  border: 1px solid black;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
}

.howmany {
  width: 90%;
  display: flex;
  justify-content: end;
}

.lostItems:hover {
  background-color: #1f64ff;
  color: #fff;
}

#lost-item {
  width: 100%;
  height: 100%;
}

.lost_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 600px;
  /* background-color: aquamarine; */
}

.lost_item_value {
  display: flex;
  width: 100%;
  height: 140px;
  border-bottom: solid 1px rgb(210, 210, 210);
}

.lost_item_value-1 {
  display: flex;
  width: 100%;
  height: 140px;
}

/* 등록하기 버튼 파트 */
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.res_button {
  width: 900px;
  height: 70px;
  border-radius: 10px;
  background-color: #1f64ff;
  border: none;
  font-size: 23px;
  font-weight: bold;
  color: black;
  box-shadow: 0px 3px 3px 3px rgba(186, 184, 184, 0.543);
  cursor: pointer;
}

.res_button:hover {
  background-color: rgb(22, 87, 238);
}

/* lost_item_text 파트 */
.lost-item_text {
  display: flex;
  height: 100%;
}

.lost-item_text-a {
  width: 100%;
  height: 100%;
}

.text {
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  font-weight: bold;
  width: 500px;
  height: 99px;
  font-size: 30px;
  border: none;
  border-right: 1px solid rgba(217, 217, 217, 0.619);
}

.text-a {
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  /* font-weight: bold; */
  width: 100%;
  height: 99px;
  font-size: 20px;
  border: none;
  /* border-right: 1px solid rgba(217, 217, 217, 0.619); */
}

#searchWordBtn {
  background-color: black;
  width: 54px;
  height: 32px;
  color: white;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}